<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/overview.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" type="text/css" />
    <title>Code &amp; Conquer</title>
  </head>
  <body>
    <div class="overview-container">
      <h1 id="refresh-seconds"></h1>
    </div>

    <script type="text/javascript" src="/scripts/http.js"></script>
    <script type="text/javascript" src="/scripts/overview.js"></script>
  </body>
</html>