<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/overview.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" type="text/css" />
    <meta http-equiv="refresh" content="120" />
    <title>Code &amp; Conquer</title>
  </head>
  <body>
    <div class="overview-container">
      <h1><span id="title-prefix"></span> <span id="refresh-seconds" data-refresh="{{= secondsPerRound }}"></span></h1>
    </div>

    <script type="text/javascript" src="/scripts/three.js"></script>
    <script type="text/javascript" src="/scripts/http.js"></script>
    <script type="text/javascript" src="/scripts/overview.js"></script>
    <script type="text/javascript" src="/scripts/overview.webgl.js"></script>
  </body>
</html>
