<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" type="text/css" />
    <title>Code &amp; Conquer</title>
  </head>
  <body>
    <div class="reg-container">
      <h1>Code &amp; Conquer</h1>

      <div class="roles-container">
        <div class="role-container">
          <div class="role">
            <div class="left-arrow">&#x2039;</div>
            <div class="right-arrow">&#x203a;</div>

            <img class="icon icon-minelayer" />

            <div class="header">
              <div class="title">Minelayer</div>
              <div class="description">
                A minelayer can place one mine on a square of their choice.
                The player who trips it loses all their current requests.
              </div>
            </div>

            <div class="form">
              <div class="error"></div>
              <input type="text" name="email" placeholder="Email address" maxlength="50" />
              <input type="text" name="team" placeholder="Team name" maxlength="25" />
              <input type="hidden" name="role" value="minelayer" />
              <input type="submit" value="Register" />
            </div>
          </div>
        </div>

        <div class="role-container">
          <div class="role">
            <div class="left-arrow">&#x2039;</div>
            <div class="right-arrow">&#x203a;</div>

            <img class="icon icon-cloaker" />

            <div class="header">
              <div class="title">Cloaker</div>
              <div class="description">
                A cloaker can mask the health of 3 squares for 5 minutes,
                making them appear to have max health to other players.
              </div>
            </div>

            <div class="form">
              <div class="error"></div>
              <input type="text" name="email" placeholder="Email address" maxlength="50" />
              <input type="text" name="team" placeholder="Team name" maxlength="25" />
              <input type="hidden" name="role" value="cloaker" />
              <input type="submit" value="Register" />
            </div>
          </div>
        </div>

        <div class="role-container">
          <div class="role">
            <div class="left-arrow">&#x2039;</div>
            <div class="right-arrow">&#x203a;</div>

            <img class="icon icon-spy" />

            <div class="header">
              <div class="title">Spy</div>
              <div class="description">
                A spy can place a redirect on a player, causing their next 15
                requests to be sent to a square of their choosing.
              </div>
            </div>

            <div class="form">
              <div class="error"></div>
              <input type="text" name="email" placeholder="Email address" maxlength="50" />
              <input type="text" name="team" placeholder="Team name" maxlength="25" />
              <input type="hidden" name="role" value="spy" />
              <input type="submit" value="Register" />
            </div>
          </div>
        </div>
      </div>

      <div class="dots">
        <div id="dot1"></div>
        <div id="dot2"></div>
        <div id="dot3"></div>
      </div>
    </div>

    <script type="text/javascript" src="/scripts/http.js"></script>
    <script type="text/javascript" src="/scripts/registration.js"></script>
  </body>
</html>