body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  color: #f9eed1;
  font-family: 'Inconsolata';
  background: rgba(54, 53, 60, 1) url('/images/tiles/tile.png') repeat;
  background-size: 798px 798px;
}

input:focus, textarea:focus {
  outline: none;
}

/* account */

.account-container {
  width: 100%;
  overflow: hidden;
}

.account-container h1 {
  margin: 0;
  padding: 12px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  background: rgba(54, 53, 60, 1);
}

.account-container .panes {
  overflow: hidden;
  width: 900px;
  padding: 40px 0 0 40px;
  margin: 30px auto;
  box-sizing: border-box;
}

.account-container .left {
  float: left;
}

.account-container .left .role-details {
  margin-top: 50px;
  background: rgba(54, 53, 60, 1);
  position: relative;
  border-radius: 20px;
  padding: 12px;
  width: 300px;
  box-sizing: border-box;
}

.role-details .icon {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 100px;
  height: 100px;
}

.role-details .icon-minelayer {
  content:url('/images/roles/minelayer.png');
}

.role-details .icon-cloaker {
  content:url('/images/roles/cloaker.png');
}

.role-details .icon-spy {
  content:url('/images/roles/spy.png');
}

.role-details .role-data {
  margin-top: 60px;
}

.role-details .role-activation-info {
  border-top: solid 1px rgba(44, 43, 50, 1);;
  margin-top: 12px;
  padding: 12px 0 0 0;
  line-height: 28px;
  text-align: center;
  min-height: 15px;
}

.role-activation-info b {
  color: #e05050;
}

.account-container .left .account-details {
  background: rgba(54, 53, 60, 1);
  position: relative;
  border-radius: 20px;
  padding: 12px;
  width: 300px;
  box-sizing: border-box;
}

.account-container .left .account-details .account-data {
  margin-top: 40px;
}

.account-container .left .account-details .avatar {
  position: absolute;
  background: #36353c;
  border: solid 10px #36353c;
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.account-container h2 {
  color: #f9eed1;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Inconsolata';
  padding: 0;
  margin: 0;
  text-align: center;
}

.account-container h2.team-name {
  padding: 4px 12px 25px 58px;
}

.data-row {
  overflow: hidden;
  padding: 5px 0;
  font-size: 16px;
}

.data-row .key {
  float: left;
  color: #f9eed1;
  padding: 10px;
}

.data-row .value {
  float: right;
  padding: 10px 20px;
  min-width: 35px;
  color: #f9eed1;
  background: #2a2930;
  text-align: center;
  font-family: 'Inconsolata';
}

.data-row .value #team-colour {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 4px auto;
}

.grid-info {
  float: left;
  background: rgba(54, 53, 60, 1);
  position: relative;
  border-radius: 20px;
  padding: 15px;
  width: 400px;
  margin-left: 20px;
  box-sizing: border-box;
}

.grid-info #cell-info {
  display: inline-block;
  background: #2a2930;
  margin: 15px auto 0 auto;
  display: none;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Inconsolata';
  font-size: 14px;
}

.grid-info #cell-info .cell-coords {
  line-height: 20px;
}

.grid-info #cell-info .cell-owner {
  margin-top: 5px;
  line-height: 20px;
}

.grid-info #cell-info .cell-owner .owner-dot {
  display: inline-block;
  background: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-bottom: 1px;
  vertical-align: middle;
}

.grid-info .grid {
  margin: 15px 0 0 0;
}

.grid-info .grid .row-container {
  display: block;
  text-align: center;
  height: 24px;
  margin-top: -1px;
}

.grid-info .grid .row-container .row {
  display: inline-block;
  height: 24px;
}

.grid-info .grid .row-container .row .cell {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  background: #2a2930;
  border: solid 1px rgba(54, 53, 60, 1);
  box-sizing: border-box;
  margin-left: -1px;
  cursor: pointer;
}

.grid-info .grid .row-container .row .cell:hover, .grid-info .grid .row-container .row .cell.selected {
  background: #10101f;
}

.grid-info .grid .row-container .row .cell .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px 0 0 6px;
  padding: 0;
}

.grid-info .grid-data {
  margin-top: 10px;
}

.account-container .players {
  float: left;
  margin-left: 20px;
  box-sizing: border-box;
}

.account-container .players .player {
  position: relative;
  margin-bottom: 35px
}

.account-container .players .player .score {
  width: 44px;
  padding: 10px 0 5px 0;
  text-align: center;
  border-radius: 2px;
  background: rgba(54, 53, 60, 1);
  position: absolute;
  bottom: -20px;
  left: 28px;
}

.account-container .players .player img {
  background: #36353c;
  border: solid 10px #36353c;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* @2x */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    background: #222 url('/images/tiles/tile.png') repeat;
    background-size: 798px 798px;
  }

  .role-details .icon-minelayer {
    content:url('/images/roles/minelayer@2x.png');
  }

  .role-details .icon-cloaker {
    content:url('/images/roles/cloaker@2x.png');
  }

  .role-details .icon-spy {
    content:url('/images/roles/spy@2x.png');
  }
}