body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  color: #f9eed1;
  font-family: 'Inconsolata';
  background: rgba(54, 53, 60, 1) url('/images/tiles/tile.png') repeat;
  background-size: 798px 798px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:focus, textarea:focus {
  outline: none;
}

/* registration */

.reg-container {
  width: 100%;
  overflow: hidden;
}

.reg-container h1 {
  margin: 0;
  padding: 12px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  background: rgba(54, 53, 60, 1);
}

.reg-container .dots {
  text-align: center;
}

.reg-container .dots div {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 3px;
  background: #36353C;
  border-radius: 50%;
}

.reg-container .dots div.current {
  background: #f9eed1;
}

.reg-container .roles-container {
  width: 300%;
  margin: 25px auto 15px auto;
  position: relative;
  overflow: hidden;
  margin-left: 0%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reg-container .roles-container .role-container {
  width: 33.333%;
  padding-top: 60px;
  float: left;
  overflow: hidden;
}

.reg-container .roles-container .role-container .role {
  width: 650px;
  margin: 0px auto;
  box-sizing: border-box;
  background: #36353C;
  border-radius: 20px;
  position: relative;
}

.role .left-arrow {
  position: absolute;
  background: none;
  color: #36353c;
  opacity: 0.7;
  left: -75px;
  height: 100%;
  line-height: 350px;
  font-size: 200px;
  font-family: 'Arial';
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.role .right-arrow {
  position: absolute;
  background: none;
  color: #36353c;
  opacity: 0.7;
  right: -75px;
  height: 100%;
  line-height: 350px;
  font-size: 200px;
  font-family: 'Arial';
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.role .left-arrow:hover {
  opacity: 1;
  cursor: pointer;
  left: -84px;
}

.role .right-arrow:hover {
  opacity: 1;
  cursor: pointer;
  right: -84px;
}

.role .icon {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 150px;
  height: 150px;
}

.role .icon-minelayer {
  content:url('/images/roles/minelayer.png');
}

.role .icon-cloaker {
  content:url('/images/roles/cloaker.png');
}

.role .icon-spy {
  content:url('/images/roles/spy.png');
}

.role .header {
  padding: 20px 20px 20px 120px;
}

.role .header .title {
  color: #f9eed1;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 5px;
}

.role .header .description {
  color: #f9eed1;
  line-height: 22px;
  font-size: 17px;
}

.role .form {
  padding: 20px 40px;
}

.role .form .error {
  box-sizing: border-box;
  padding: 6px 0 6px 10px;
  width: 427px;
  margin: 15px auto;
  display: none;
  color: #e05050;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inconsolata';
  border-left: solid 3px #e05050;
}

.role .form input[type='text'] {
  font-family: 'Inconsolata';
  display: block;
  padding: 15px;
  margin: 15px auto;
  border: 0;
  color: #f9eed1;
  line-height: 22px;
  font-size: 18px;
  background: #323138;
  width: 400px;
}

.role .form input[type='submit'] {
  border: 0;
  display: block;
  padding: 15px;
  margin: 15px auto;
  line-height: 22px;
  font-size: 17px;
  font-family: 'Inconsolata';
  font-weight: 900;
  background: #f9eed1;
  color: #323138;
  width: 430px;
}

.role .form input[type='submit']:hover {
  background: #dbd0b3;
  cursor: pointer;
}

/* @2x */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    background: #222 url('/images/tiles/tile.png') repeat;
    background-size: 798px 798px;
  }

  .role .icon-minelayer {
    content:url('/images/roles/minelayer@2x.png');
  }

  .role .icon-cloaker {
    content:url('/images/roles/cloaker@2x.png');
  }

  .role .icon-spy {
    content:url('/images/roles/spy@2x.png');
  }
}